html:not(:has(.no-smooth-scroll)) {
  scroll-behavior: smooth;
  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

&:focus,
&:active {
  outline-color: var(--active-color);
}

body {
  line-height: var(--line-height);
  -webkit-font-smoothing: var(--webkit-font-smoothing);
  font-family: var(--font);
  font-size: var(--font-size);
  background-color: var(--background-color, none);
}

a {
  color: var(--active-color, currentColor);
  font-weight: 500;
}

main {
  padding: var(--space);
  @media screen and (max-width: 900px) {
    max-width: 100vw;
  }
}

.invisible {
  visibility: hidden;
}

.dont-display {
  display: none !important;
}

@media screen {
  .dont-screen {
    display: none !important;
  }
}

@media print {
  .dont-print {
    display: none !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: var(--space);
  line-height: var(--line-height-heading);
  margin-bottom: calc(0.65 * var(--space));
}

h5,
h6,
.h5,
.h6 {
  font-weight: 600;
  font-size: 1rem;
}
h6,
.h6 {
  font-weight: 500;
}

em {
  /*font-weight: bold;*/
  font-style: normal;
  background: var(--accent-color);
  padding: 0 0.25em;
  border-radius: var(--border-radius);
}

code {
  font-size: var(--font-size-monospace);
  background: var(--color-gray-light);
  padding: 0.2em 0.4em;
  border-radius: var(--border-radius);
}
pre > code {
  padding: 0;
}

article,
section,
figure {
  clear: both;
}

article,
section,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: var(--text-align, inherit);
}

p[data-initial-letter]::first-letter {
  --initial-letter: var(attr(data-initial-letter), 3);
  font-weight: bold;
  initial-letter: var(--initial-letter);
}

p.initial-letter::first-letter {
  float: left;
  font-size: calc(var(--initial-letter, 3) * 1.75em);
  line-height: 0.65em;
  margin-top: 0.12em;
  font-weight: bold;
  margin-right: var(--space-small);
}

figure {
  display: flex;
  flex-direction: column;
  gap: var(--space-small);
  margin: var(--space) 0;
  figcaption {
    font-style: italic;
  }
}

hr:has(+ hr) {
  margin-bottom: 0;
  border-color: var(--color-gray-light);
  & + hr {
    margin-top: 0;
    border-color: var(--color-gray-light);
  }
}

hr:has(+ hr) {
  clear: both;
  page-break-after: always;
  & + hr {
    display: none;
  }
}

@media print {
  a {
    color: currentColor;
    text-decoration: none;
    font-weight: 600;
  }
  figure,
  pre,
  picture,
  tr {
    page-break-inside: avoid;
  }
  hr:has(+ hr) {
    height: 0;
    visibility: hidden;
    page-break-after: always;
  }
}

p:last-of-type,
section:has(+ section),
section:has(+ article),
p:has(+ h1),
p:has(+ h2),
p:has(+ h3) {
  margin-bottom: var(--space-small);
}

hgroup {
  margin-top: var(--space-small);
  margin-bottom: calc(1.5 * var(--space));
  p:last-of-type:has(+ h1),
  p:last-of-type:has(+ h2),
  p:last-of-type:has(+ h3) {
    margin-bottom: 0rem;
    & + h1,
    & + h2,
    & + h3 {
      margin-top: calc(0.5 * var(--space-small));
    }
  }
  strong:has(+ h1) {
    display: block;
    & + h1 {
      margin-top: calc(0.5 * var(--space-small));
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    margin-bottom: var(--space-small);
  }
}

hr[data-ornament],
hr.ornament {
  --space-hr: 8rem;
  @media screen and (max-width: 900px) {
    --space-hr: 4rem;
  }
  border: 0;
  font-size: 2em;
  position: relative;
  border-top: 2.5px dotted var(--color-gray-lighter);
  overflow: visible;
  margin-top: var(--space-hr);
  margin-bottom: var(--space-hr);
  color: currentColor;

  &:before {
    content: var(--ornament);
    background: var(--background-color, white);
    padding: 0 0.25em;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: -0.85em;
    width: 1.5em;
    left: calc(50% - 0.75em);
    color: currentColor;
  }
}

@media (min-width: 900px), print {
  picture.float {
    float: right;
    margin-left: var(--space);
    margin-bottom: var(--space);
    margin-top: 0.4em;
    max-width: 50%;
    &.left {
      float: left;
      margin-left: 0;
      margin-right: var(--space);
    }
  }
}

p {
  &:has(.float) {
    overflow: hidden;
  }
}

p:has(> picture:not(.float)) {
  display: flex;
  justify-content: space-between;
  gap: var(--space);
  picture:not(.float) {
    padding-top: 0.2em;
    min-width: 10rem;
  }
}

pre {
  background: var(--color-gray-light);
  padding: var(--space);
  border-radius: var(--border-radius);
  font-family: var(--font-monospace);
  overflow-x: auto;
  font-size: var(--font-size-monospace);
}

pre,
ul,
ol,
hr,
table {
  margin: var(--space) 0;
}

li > ol,
li > ul {
  margin: var(--space-small) 0;
}

hr {
  border: 1px solid currentColor;
}

table {
  --border-size: 2px;
  --border-color: var(--color-gray-lighter);
  width: 100%;
  border-spacing: var(--border-spacing, var(--space-small));
  border-collapse: collapse;
  border: var(--border-size) solid var(--border-color);

  thead,
  tbody {
    text-align: var(--text-align, inherit);
  }
  caption {
    text-align: var(--text-align, center);
  }

  @media screen and (max-width: 900px) {
    max-width: fit-content;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    display: block;
    max-width: fit-content;
    border: 0;
    max-height: calc(100vh - 8rem);
    thead {
      position: sticky;
      top: 0;
    }
  }

  td,
  th {
    border: var(--border-size) solid var(--border-color);
  }
  @media print {
    border-spacing: 0;
    --border-size: 0.2pt;
    --border-color: currentColor;
    border: var(--border-size) solid currentColor;
  }
  caption {
    caption-side: var(--caption-side, bottom);
    font-style: italic;
    margin-top: var(--space-small);
  }
  thead {
    background: var(--color-gray-light);
  }
  td,
  th {
    padding: var(--space-small) var(--space);
  }
  tbody {
    tr:nth-child(2n) {
      background: var(--color-gray-light);
    }
  }
}

p {
  > img,
  > picture,
  > video,
  > canvas,
  > svg {
    display: inline-block;
  }
}

img.error-during-loading {
  opacity: 0.5;
  border-radius: var(--border-radius);
  overflow: hidden;
  display: flex;
  place-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--color-gray-light);
  --line-width: var(--warning-stripes-line-width, 5px);
  background-image: repeating-linear-gradient(
    -45deg,
    var(--color-gray-light),
    var(--color-gray-light) var(--line-width),
    var(--color-gray-lighter) var(--line-width),
    var(--color-gray-lighter) calc(2 * var(--line-width))
  );
  &:before {
    padding-left: 20px;
    font-size: 0.7rem;
    line-height: 1rem;
    background: var(--icon-broken-image-url) 2px 2px;
    background-repeat: no-repeat;
    background-size: 0.8rem;
  }
  &:after {
    margin-left: 1em;
    line-height: 1rem;
    content: attr(src);
    font-family: var(--font-monospace);
    font-size: 0.7rem;
    padding-right: 3px;
    color: var(--color-red);
  }
}

dialog {
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: var(--space);
  max-width: var(--max-readable-width);
  button[icon="x"] {
    float: right;
    margin-top: 0.2em;
    background-color: none;
  }
}

button[icon="x"] {
  background: var(--icon-cross-url) no-repeat center;
  width: 1.25em;
  height: 1.25em;
  padding: 0.1em;
}

details:has(> section) {
  border-radius: var(--border-radius);
  padding: var(--space);
  padding-bottom: 0;
  background: var(--color-gray-light);

  > summary {
    font-weight: bold;
    padding: var(--space);
    margin-left: calc(-1 * var(--space));
    margin-top: calc(-1 * var(--space));
    width: calc(100% + calc(2 * var(--space)));
    background-position: calc(100% - 1em) center;
    list-style-type: none;
    background-image: var(--icon-arrow-down-url);
    background-repeat: no-repeat;
    background-size: 1.5em;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &[open] {
    padding-bottom: var(--space);
  }

  &[open] > summary {
    background-image: var(--icon-arrow-up-url);
    margin-bottom: 0.5rem;
  }
}

blockquote {
  border-radius: var(--border-radius);
  padding: var(--space);
  background: var(--color-gray-light);
}

article,
section {
  > p + p {
    margin-top: var(--paragraph-vertical-margin);
  }
  p {
    margin-bottom: var(--paragraph-vertical-margin);
  }
}

@media (prefers-contrast: more) {
  :root {
    --accent-color: #ccc;
    --color-gray-light: #ccc;
    --color-gray-lighter: #ddd;
  }
}
