form:has(> section) {
  --border-size: 2px;
  textarea {
    font: var(--font-monospace);
    display: block;
    width: 100%;
  }
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="time"],
  input[type="month"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="url"],
  input[type="week"],
  input[type="file"] {
    border-radius: var(--border-radius);
    border: var(--border-size) solid currentColor;
    padding: var(--space-small);
    outline: var(--border-size) solid transparent;
    transition: outline var(--form-transition-duration);
    height: var(--form-input-height);
    &:focus {
      outline: var(--border-size) solid currentColor;
      outline-offset: var(--border-size);
    }
    &::placeholder {
      color: currentColor;
      opacity: 0.35;
    }
  }
  input[type="range"] {
    border-radius: var(--border-radius);
    margin-right: 0.15em;
    height: var(--form-input-height);
    &:focus {
      outline: var(--border-size) solid currentColor;
    }
  }
  input[type="file"] {
    border: none;
    text-align: right;
    font: var(--font-monospace);
    transition: background var(--form-transition-duration);
    border-radius: var(--border-radius);
    &::file-selector-button {
      border-radius: var(--border-radius);
      border: 0;
      padding: 2px var(--space-small);
      font-size: 1rem;
      font-weight: 600;
    }
    &:focus,
    &:hover {
      background: var(--color-gray-light);
      cursor: pointer;
    }
  }
  textarea {
    height: inherit;
  }
  select {
    border: var(--border-size) solid currentColor;
    border-radius: var(--border-radius);
    padding: var(--space-small);
    transition: outline var(--form-transition-duration);
    &:hover,
    &:focus {
      background: var(--color-gray-lighter);
      outline: var(--border-size) solid currentColor;
      outline-offset: var(--border-size);
    }
    &:hover {
      cursor: pointer;
    }
  }

  section > label:has(+ select),
  section > label:has(+ input) {
    display: flex;
    align-items: center;
  }
  input:invalid,
  select:invalid {
    color: var(--color-red);
  }
  section:has(> label + input),
  section:has(> label + select) {
    display: flex;
    justify-content: space-between;
    /*grid-template-columns: repeat(2, 1fr);*/
    gap: var(--space);
    margin-bottom: 0;
  }
  section:has(> label + textarea) {
    label {
      margin-bottom: var(--space-small);
      display: block;
    }
  }
  fieldset {
    border: var(--border-size) solid var(--color-gray-lighter);
    padding: var(--space);
    border-radius: var(--border-radius);
    &:has(legend) {
      padding-top: var(--space-small);
    }
    > section {
      display: flex;
      gap: var(--space-small);
      label {
        flex-grow: 1;
      }
    }
  }
  section footer {
    display: flex;
    gap: var(--space-small);
    justify-content: end;

    input[type="submit"] {
      font-weight: var(--font-weight-semi-bold);
      background: var(--accent-color);
      color: var(--accent-text-color);
    }
  }
  > section {
    display: grid;
    gap: var(--section-group-gap, var(--space));
  }
}

button,
input[type="submit"],
input[type="reset"] {
  background: var(--color-gray-lighter);
  border: 0;
  border-radius: var(--border-radius);
  padding: var(--space-small) var(--space);
  font-size: 0.95em;
  transition: outline --form-transition-duration;
  outline: 2px solid transparent;
  @media (hover) {
    &:hover {
      cursor: pointer;
      outline: 2px solid var(--active-color);
    }
  }
  &:focus {
    outline: 2px solid var(--active-color);
  }
}

button.call-to-action {
  font-weight: var(--font-weight-semi-bold);
  background: var(--accent-color);
  color: var(--accent-text-color);
}

small {
  button,
  input[type="submit"],
  input[type="reset"] {
    padding: calc(0.5 * var(--space-small)) var(--space-small);
  }
}
