:root {
  --font: var(--font-monospace);
  --font-size-adjust-monospace: ex-height 0.6;
  --webkit-font-smoothing: auto;
  --font-size: var(--font-size-monospace);
  --ornament: "*";
  --paragraph-hyphens: unset;
  --paragraph-text-alignment: unset;
  @media print {
    --line-height: 1.45;
  }
}

hr {
  color: var(--text-color);
}
