@page {
  size: A4;
  margin: 2.5cm 1.5cm;
}
@page:first {
  margin-top: 1.1cm;
}

@page landscape-page {
  size: landscape;
}

body.landscape {
  page: landscape-page;
}

:root {
  --max-readable-width: 50rem;
  @media screen and (min-width: 40rem), print {
    --paragraph-hyphens: auto;
    --paragraph-text-alignment: justify;
  }
  @media print {
    --max-readable-width: inherit;
  }
}
main {
  max-width: var(--max-readable-width);
  margin-inline: auto;
  li > ol,
  li > ul {
    padding-left: var(--space);
  }
  li > ul > li {
    list-style-type: square;
  }
}

/*section {
  > *:has(+ h1),
  > *:has(+ h2),
  > *:has(+ h3),
  > *:has(+ h4),
  > *:has(+ h5),
  > *:has(+ h6) {
    margin-bottom: var(--space);
  }
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-top: 0;
    margin-bottom: var(--space-small);
    &:has(+ h1),
    &:has(+ h2),
    &:has(+ h3),
    &:has(+ h4),
    &:has(+ h5),
    &:has(+ h6) {
      margin-bottom: 0;
    }
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: var(--space-small);
      margin-bottom: var(--space);
    }
  }
}*/
