@font-face {
  font-family: "et-book";
  src: url("fonts/et-book/roman-line-figures.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "et-book";
  src: url("fonts/et-book/display-italic-old-style-figures.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "et-book";
  src: url("fonts/et-book/bold-line-figures.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "fonts/et-book-roman-old-style";
  src: url("et-book/roman-old-style-figures.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.numeral,
.sidenote-number {
  font-family: et-book-roman-old-style;
}

:root {
  --max-readable-width: 70rem;
  --font-size-serif: 19px;
  --font-family-serif:
    et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua",
    Georgia, serif;
  --font-size-monospace: 0.8em;
  @media print {
    --font-size: 14px;
    --font-size-serif: 14px;
    --font-size-monospace: 0.7em;
  }
  @media screen and (max-width: 1200px) {
    --max-readable-width: 60rem;
  }
  --main-column-width: 75%;
  --column-gap: var(--space);

  --sidenote-font-family: et-book-roman-old-style;
  --sidenote-margin-right: calc(-1 * calc(100% - var(--main-column-width)));
  --sidenote-float: none;
  --sidenote-text-align: center;
  --sidenote-font-size: 0.9rem;
  --sidenote-right-position: 0;
  --paragraph-hyphens: none;
  --paragraph-text-alignment: inherit;
  @media screen and (min-width: 900px), print {
    --sidenote-float: right;
    --sidenote-text-align: left;
  }
  @media print {
    --sidenote-font-size: 0.7rem;
  }
}
main {
  position: relative;
}
section,
figure {
  display: block;
}
main > section,
main > figure {
  width: var(--main-column-width);
  padding-right: var(--column-gap);
}
main {
  figcaption,
  .sidenote {
    float: var(--sidenote-float);
    clear: var(--sidenote-float);
    margin-right: var(--sidenote-margin-right);
    width: calc(100% - var(--main-column-width) - var(--column-gap));
    text-align: var(--sidenote-text-align);
    font-style: normal;
    font-size: var(--sidenote-font-size);
  }
  .sidenote {
    transform: translateY(0.5em);
  }

  .sidenote[data-index] {
    &:before {
      content: attr(data-index);
      padding-right: 0.25em;
      transform: translateY(-0.25em);
      float: left;
      font-size: 0.8em;
      vertical-align: baseline;
      font-family: var(--sidenote-font-family);
    }
  }
}
table {
  --border-color: none;
  --color-gray-light: rgba(200, 200, 200, 0.1);
  font-size: var(--sidenote-font-size);
  @media print {
    border: 0px;
  }
  border-bottom: var(--border-size) solid currentColor;
  thead {
    border-top: var(--border-size) solid currentColor;
    border-bottom: calc(0.5 * var(--border-size)) solid currentColor;
  }
  tr th {
    --text-align: left;
    &:last-child {
      --text-align: right;
    }
  }
  tr td:last-child {
    --text-align: right;
  }
}
code {
  background: none;
}
blockquote {
  padding: var(--space);
  background: none;
  > p,
  > section,
  > footer,
  > aside {
    margin-left: calc(2 * var(--space));
  }
  > aside {
    text-align: right;
    font-size: var(--sidenote-font-size);
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: calc(1.5 * var(--space));
}
em strong {
  background: none;
  padding: 0;
  color: currentColor;
}
