@page {
  size: A4;
  margin: 2.5cm 1.5cm;
}
@page:first {
  margin-top: 1.1cm;
}
:root {
  --max-readable-width: 50rem;
  @media screen and (min-width: 40rem), print {
    --paragraph-hyphens: auto;
    --paragraph-text-alignment: justify;
  }
  @media print {
    --max-readable-width: inherit;
  }
}
main {
  max-width: var(--max-readable-width);
  margin-inline: auto;
  li > ol,
  li > ul {
    padding-left: var(--space);
  }
  li > ul > li {
    list-style-type: square;
  }
}
