/* only works in chrome so far */
p::first-letter {
  initial-letter: var(--initial-letter, 3);
  float: none;
  line-height: inherit;
  margin-top: 0;
  font-weight: bold;
  margin-right: 0;
  margin-left: 0.02em;
  padding-right: 0.02em;
  font-size: inherit;
}
